<div style="display: flex; flex-direction: row; justify-content: space-evenly;">
  <div style="display: flex;flex-direction: column;">
    <h1 style="margin-top: 50px;">Friend List</h1>
    <div class="overflow-auto" style="height: 300px; width: 300px;
    border: solid black 5px;" id="friendView">     
    </div>

    <div style="margin-top: 50px;">
      <label>Friend Name</label>
      <input type="text" id="addNewFriend" style="
        margin-right: 20px;
        border: solid black 5px;">
      <br>
      <button class="btn btn-warning" (click)="addFriend()">Add Friend</button>
      <br>
      <small id="friendWarning"></small>
    </div>
  </div>

  <div>
    <h1 style="margin-top: 50px;">Talking with {{talkToFriend}}</h1>
    <div class="overflow-auto" style="height: 300px; width: 400px; 
    border: solid black  5px;" id="messageView">
      <h1>
        Click left to choose a friend
      </h1>
    </div>

    <div style="display: flex; flex-direction: row; align-items: flex-start; margin-top: 50px;">
      <textarea name="message" id="userMessage" cols="30" rows="5"
      style="border: solid black  5px; margin-right: 20px;"></textarea>
      <button class="btn btn-success" [disabled]="!choosedFriend" 
      (click)="sendMessage()">Send</button>
    </div>
  </div>

</div>